
<h3> Coordinadores 2016:</h3>
<table>
  <thead>
    <tr>
        <th>ID:</th>
      <th>Nombre:</th>
      <th>Apellido:</th>
      <th>Cedula:</th>
      <th>Celular:</th>
      <th>Telefono:</th>
      <th>Mesa:</th>
      <th>Paraje:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enc_contactos.each do |enc_contacto| %>
      <tr>
          <td><%= enc_contacto.id %></td>
        <td><%= enc_contacto.nombre %></td>
        <td><%= enc_contacto.apellido %></td>
        <td><%= enc_contacto.cedula %></td>
        <td><%= enc_contacto.celular %></td>
        <td><%= enc_contacto.telefono %></td>
        <td><%= enc_contacto.mesa %></td>
        <td><%= enc_contacto.paraje %></td>
        <td><%= link_to 'Mostrar', enc_contacto %></td>
          <td><%= link_to 'Editar', edit_enc_contacto_path(enc_contacto) %></td>
          <td><%= link_to 'Borrar', enc_contacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
      <tr><td><%= link_to 'Agregar nuevo', new_enc_contacto_path %></td></tr>
  </tbody>
</table>

<h3>Estadisticas Elecciones 2016 Equipo Politico Prof. Antonio Ramirez </h3>

<div>

         <table>
             <thead>

                 <tr>
                    <th>Paraje:</th>
                    <th>Inscritos 2012:</th>
                     <th>Votos 2012:</th>
                    <th> Distrito % 2012:</th>
                     <th>Inscritos 2010:</th>
                     <th>Mujeres 2010:</th>
                     <th>Hombres 2010:</th>
                     <th>Edad 18 a 39 2010:</th>
                     <th>Edad 40 O Mas 2010:</th>
                     <th>Inscritos 2008:</th>
                </tr>


             </thead>
             <tbody>

             <tr>
                    <td>Rio Verde Abajo</td>
                    <td>3166</td>
                     <td>2253</td>
                    <td>21.26%</td>
                 <td>3424</td>
                 <td>1713</td>
                 <td>1711</td>
                 <td>1683</td>
                 <td>1741</td>
                 <td> 3100</td>


                 </tr>



                 <tr>
                    <td>Rio Verde Arriba</td>
                    <td>2129</td>
                    <td>1520</td>
                    <td>13.51%</td>
                     <td>1856</td>
                     <td>953</td>
                     <td>903</td>
                     <td>968</td>
                     <td>888</td>
                     <td>1630</td>
                 </tr>

                 <tr>
                    <td>Mirador</td>

                    <td>529</td>
                    <td>369</td>
                    <td>3.55%</td>
                     <td>540</td>
                 <td>-</td>
                 <td>-</td>
                 <td>-</td>
                 <td>-</td>
                 <td>-</td>
                 </tr>


                 <tr>
                    <td>Pueblo Viejo</td>

                    <td>1237</td>
                    <td>893</td>
                    <td>8.3%</td>
                <td>1215</td>
                 <td>593</td>
                 <td>622</td>
                 <td>540</td>
                 <td>675</td>
                 <td>1154</td>
                 </tr>


                 <tr>
                    <td>Bonagua</td>
                    <td>1300</td>
                    <td>1033</td>
                    <td>8.73%</td>
                <td>1203</td>
                 <td>578</td>
                 <td>625</td>
                 <td>493</td>
                 <td>710</td>
                 <td>1124</td>
                 </tr>


                 <tr>
                    <td>Romero</td>
                    <td>465</td>
                    <td>361</td>
                    <td>3.12%</td>
                <td>468</td>
                 <td>221</td>
                 <td>247</td>
                 <td>251</td>
                 <td>217</td>
                 <td>406</td>
                 </tr>

                 <tr>
                    <td>La Vereda</td>
                    <td>559</td>
                    <td>430</td>
                    <td>3.75%</td>

                <td>546</td>
                 <td>263</td>
                 <td>283</td>
                 <td>214</td>
                 <td>332</td>
                 <td>497</td>
                 </tr>


                 <tr>
                    <td>La Rosa</td>
                    <td>191</td>
                    <td>142</td>
                    <td>1.28%</td>

                <td>196</td>
                 <td>-</td>
                 <td>-</td>
                 <td>-</td>
                 <td>-</td>
                 <td>-</td>
                 </tr>


                 <tr>
                    <td>Manga Larga</td>
                    <td>1466</td>
                    <td>1108</td>
                    <td>9.84%</td>

                 <td>1405</td>
                 <td>683</td>
                 <td>722</td>
                 <td>632</td>
                 <td>773</td>
                 <td>1306</td>
                 </tr>


                 <tr>
                    <td>Naranjal</td>

                    <td>1503</td>
                    <td>1200</td>
                    <td>10.09%</td>

                <td>1515</td>
                 <td>739</td>
                 <td>776</td>
                 <td>733</td>
                 <td>782</td>
                 <td>1441</td>
                 </tr>

                 <tr>
                    <td>La Lima</td>

                    <td>1172</td>
                    <td>939</td>
                    <td>7.87%</td>

                     <td>1173</td>
                 <td>558</td>
                 <td>615</td>
                 <td>503</td>
                 <td>670</td>
                 <td>1116</td>
                 </tr>


                 <tr>
                    <td>Arroyo Hondo</td>

                    <td>1175</td>
                    <td>888</td>
                    <td>7.89%</td>

                      <td>1127</td>
                 <td>569</td>
                 <td>558</td>
                 <td>475</td>
                 <td>652</td>
                 <td>1079</td>
                 </tr>

                   <tr>
                    <td>Total:</td>

                    <td>14892</td>
                    <td>11136</td>
                    <td>~100%</td>
                       <td>14668</td>
                       <td>6870</td>
                       <td>7062</td>
                       <td>6492</td>
                       <td>7440</td>
                       <td>12853</td>

                 </tr>
             </tbody>
         </table>





</div>



<div>

    <table>

      <tbody>
          <tr>

              <td>     <h3> Contactados por Paraje 2016:</h3>
                  <%= column_chart Contacto.group(:paraje, :paraje).count %>
              </td>

          </tr>
          <tr>

              <td>
              </td>
          </tr>
           <tr>

              <td>      <h3> Contactados por Sexo 2016:</h3>
                  <%= column_chart Contacto.group(:paraje,:sexo).count %>
              </td>
          </tr>

          <tr>

              <td>
              </td>
          </tr>

          <tr>

              <td>      <h3> Contactados por Mesa 2016:</h3>
                  <%= column_chart Contacto.group(:mesa,:paraje).count %>

              </td>
          </tr>

          <tr>

              <td>
              </td>
          </tr>



          <tr>

              <td>      <h3>Contactos por Coordinadores 2016:</h3>

                  <%= column_chart Contacto.group(:enc_contacto_id, :enc_contacto_id).count %>



              </td>
          </tr>



          <tr>

              <td>
              </td>
          </tr>

          <tr>

              <td>      <h3>Actividad en el Distrito 2016:</h3>

                  <%= line_chart Contacto.group( :fecha_ultimo_contacto).count %>



              </td>
          </tr>

  </tbody>
</table>
</div>

<br>





