

<h3> Coordinador </h3>

<p id="notice"><%= notice %></p>
<p id="error" ><font color= "red"><%= error %></font></p>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cedula</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Mesa</th>
      <th>Paraje</th>

    </tr>
  </thead>

  <tbody>

      <tr>
        <td><%= @enc_contacto.nombre %></td>
        <td><%= @enc_contacto.apellido %></td>
        <td><%= @enc_contacto.cedula %></td>
        <td><%= @enc_contacto.celular %></td>
        <td><%= @enc_contacto.telefono %></td>
        <td><%= @enc_contacto.mesa %></td>
        <td><%= @enc_contacto.paraje %></td>

      </tr>

  </tbody>
</table>

<div> <h3>Contactos por Coordinador 2016:</h3>

    <%= column_chart @enc_contacto.contactos.group(:mesa,:paraje ).count%>
          </div>

<h3>Contactos</h3>
<% i=0%>
<table>
  <thead>
    <tr>
    <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Cedula</th>
      <th>Celular</th>
      <th>Telefono</th>
      <th>Mesa</th>
      <th>Paraje</th>
        <th>Sexo</th>
        <th>Intencion</th>
        <th>Fecha de ultimo contacto</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enc_contacto.contactos.each do |contacto| %>
      <%if contacto.id != nil%>
      <tr>

        <td><%= i=i+1 %></td>
        <td><%= contacto.nombre %></td>
        <td><%= contacto.apellido %></td>
        <td><%= contacto.cedula %></td>
        <td><%= contacto.celular %></td>
        <td><%= contacto.telefono %></td>
        <td><%= contacto.mesa %></td>
          <td><%= contacto.paraje %></td>
          <td><%= contacto.sexo %></td>
          <td><%= contacto.intesion %></td>
        <td><%= contacto.fecha_ultimo_contacto %></td>
          <td><%= link_to 'Editar', "/enc_contactos/#{@enc_contacto.id}/contactos/#{contacto.id}/edit" %></td>
          <td><%= link_to 'Borrar', "/enc_contactos/#{@enc_contacto.id}/contactos/#{contacto.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
      <% end %>

    <% end %>
      <tr><td><%= link_to 'Agregar nuevo', "/enc_contactos/#{@enc_contacto.id}/contactos/new" %></td>
          <td><%= link_to 'Volver a Encargados', enc_contactos_path %></td>
      </tr>
  </tbody>
</table>




