
<h3>Editar un Contacto</h3>

<%= form_for(@contacto, url: "/enc_contactos/#{@enc_contacto.id}/contactos/#{@contacto.id}" , html: {method: "patch"}) do |f| %>

<table>
  <thead>
     <tr>
 <td>

<% if @contacto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contacto.errors.count, "error") %> prohibited this contacto from being saved:</h2>

      <ul>
      <% @contacto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   </td></tr>
</thead>
 <tbody>

     <tr>
              <td>
   <div class="field">
   <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>

         </td>
     </tr>

    <tr>
              <td>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>

                   </td>
     </tr>

     <tr>
              <td>
  <div class="field">
    <%= f.label :cedula %><br>
    <%= f.text_field :cedula %>
  </div>
                   </td>
     </tr>

     <tr>
              <td>
  <div class="field">
    <%= f.label :celular %><br>
    <%= f.text_field :celular %>
  </div>

                  </td>
     </tr>

     <tr>
              <td>
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono %>
  </div>

                   </td>
     </tr>

  <tr>
              <td>
  <div class="field">
    <%= f.label :mesa %><br>
     <%= f.select :mesa, ['0069', '069A','0252','0307','0226','0325','0073','0074','0077','0075','0076','0271','0072','0225','0306','065A','0065','0070','0224','0308','0067','0068','068A','0066','0071','0079','0078','0081','080A','0080','0082','0083','0358']%>
  </div>


                      </td>
     </tr>


     <tr>
              <td>
  <div class="field">
    <%= f.label :paraje %><br>
   <%= f.select :paraje, ['Rio Verde Arriba', 'Rio Verde Abajo','Arrollo Hondo Arriba','Manga Larga','Naranjal','Mirador','Pueblo Viejo','Bonagua','Romero','La Vereda','La Rosa','La Lima']%>
  </div>


                      </td>
     </tr>

     <tr>
              <td>
    <div class="field">
    <%= f.label :edad %><br>
    <%= f.text_field :edad %>
  </div>


                      </td>
     </tr>
 <tr>
              <td>
<div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>


                      </td>
     </tr>

     <tr>
              <td>
<div class="field">
    <%= f.label :sexo %><br>
   <%= f.select :sexo, ['M', 'F']%>
  </div>

                      </td>
     </tr>
      <tr>
              <td>
<div class="field">
    <%= f.label :fecha_ultimo_contacto %><br>
    <%= f.date_select :fecha_ultimo_contacto %>
  </div>



                      </td>
     </tr>

      <tr>
              <td>
<div class="field">
    <%= f.label :intencion %><br>
    <%= f.check_box :intesion %>
  </div>

    </td>
     </tr>


<tr>
              <td>
  <div class="actions">
    <%= f.submit %>
  </div>

</td>
 <td>
     <%= link_to 'Volver', @enc_contacto %>
    </td>

      </tr>

    </tbody>
</table>

  <% end %>
